html,
body {
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: row;
  background-color: #7796cb;
  height: 100%;
}

#leftBar {
  background-color: #576490;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo {
  background-color: #a3bcf9;
  padding: 6px;
  padding-left: 20px;
  margin: 6px;
  border-radius: 9999px;
}

.todo:hover {
  background-color: #888888;
}

.done {
  opacity: 60%;
  text-decoration: line-through;
}

h1 {
  font-size: xx-large;
}
